<div class="container">
  <div class="row justify-content-start">
    <div class="col-6" class="boxs">
      One of two columns
    </div>
    <div class="col-6">
      <span class="text-muted">ahdhdhd</span>
      <hr>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-6">
      <span class="text-muted">One of two columns</span>
      <hr>
    </div>
    <div class="col-6" class="boxs">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-6" class="boxs">
      One of two columns
    </div>
    <div class="col-6">
      <span class="text-muted">ahdhdhd</span>
      <hr>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-6"><span class="text-muted">fhfhfhfhhfhffhh</span>
      <hr>
    </div>
    <div class="col-6" class="boxs"> dhdhdhhdhdhd</div>
  </div>

</div>