<h4>NOTICIAS E POSTS</h4>
<hr>
<div class="wrapper">
  <div class="row">
    <div class="col-2"><img src="" alt="aaka"></div>
    <div class="col-10">
      <h3>fjfj</h3>
      <span>fjfj</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><img src="" alt="qq"></div>
    <div class="col-10">
      <h3 class="text-white">fjfj</h3>
      <span class="text-muted">fjfj</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2"><img src="" alt="ld"></div>
    <div class="col-10">texto</div>
  </div>
</div>