<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Longer nav link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>



<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">HOJE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">QUADRO DE EVENTOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CURSOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">VLOG</a>
    </li>
  </ul>
</div>