<nav class="navbar navbar-expand-lg  ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./Informe.png" alt="kk">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false " aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Hoje
            <span class="sr-only">(current)</span>
            <hr>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quadro De Eventos</a>
          <hr>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cursos</a>
          <hr>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vlog</a>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</nav>